*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677 , #4e085f);
    padding: 10px;
}
.card{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.card h1{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.card h1 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    position: relative;
}
.row input{
    width: 200px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #edeef0;
    border-radius: 100px;
    color: black;
    z-index: 3;
}
.row .btn {
    position: absolute;
    width: 100px;
border: 0;
outline: 0;
border-radius: 50px;
background-color: #ff5945;
padding: 5px;
z-index: 1;
left: 185px;
height: 100%;
cursor: pointer;
color: white;
padding-left: 26px;
}
.card ul{
    list-style: none;
    margin-top: 20px;
}
.card ul li{
background-color: #edeef0;
margin-bottom: 5px;
text-align: left;
padding: 12px 8px 12px 50px;
font-size: 17px;
position: relative;
border-radius: 30px;
cursor: pointer;
}
.card ul li::before{
    content: "";
    content: "";
    position: absolute;
    background-image: url(/images/unchecked.png);
    width: 33px;
    height: 35px;
    background-size: cover;
    background-position: center;
    left: -8px;
    top: 5px;
    background-color: white;
    /* overflow: hidden; */
    border-radius: 50%;
    cursor: pointer;

}
.card ul li.checked{
    
    color: #555;
    text-decoration: line-through;

}
.card ul li.checked::before{
    background-image: url(/images/checked.png);

}
.card ul li span{
    position: absolute;
    right: 8px;
    top: 3px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;

}
.card ul li span:hover{
    background-color: #555;
    color: white;
}